#root {
  position: relative;
  min-height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

hr {
  margin: 15px 0 !important;
  /* border: 0; */
  border-top: 1px solid rgba(224, 224, 224, 1);
  opacity: 1;
}

.myBorder {
  border: 1px solid rgba(224, 224, 224, 1);
}



.hoverText:hover {
  color: #000000 !important;
}



.myBtnRight svg {
  width: 14px;
  stroke: #3e5367;
  color: #3e5367;
}

.myBtnRight {
  display: flex;
  height: 30px;
  width: 30px;
  min-height: 30px;
  min-width: 30px;
  background-color: #00ffff;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

}

.myLabel {
  color: #0000009c;
}

.myInput:focus {
  /* border-bottom: 1.5px solid #000000; */
  box-shadow: 0 0 5px 0px #3e53678a;
}

.myBtn,.myBtnl:hover {
  text-decoration: underline;

}

.myBtn,.myBtnl:focus {
  outline: 1.5px solid #0000006b !important;
}

.svgBtn svg {
  height: 22px;
  width: 22px;
  color: white;
}

.svgBtn {
  border: none;
  /* border-radius: 10px; */
  padding: 0;
  background-color: transparent;
  outline: none;
}

.myInput[disabled] {
  text-decoration: none;
  border: 1.5px solid #3e53671f;
}

.myBtn[disabled] {
  text-decoration: none;
  border: 1.5px solid #3e53671f;
}

.mySelectBox {
  padding: 10px 16px;
  border: 1.5px solid #3e53678a;
  border-radius: 10px;
  outline: none;
}

.mySelectBox {
  cursor: pointer;
  min-width: 220px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff url('./assets/svg/caret-down-fill.svg') no-repeat;
  background-position: calc(100% - 8px) center;
}

.mySelectBox::-ms-expand {
  display: none;
}

.myBtn {
  /* border: none; */
  border: 1.5px solid #d8d6de;

  border-radius: 10px;
  outline: none;
}
.myBtnl {
  /* border: none; */
  border: 1.5px solid #d8d6de;
  height: 40px;
  border-radius: 5px;
  outline: none;
}
.myBtnl:hover{
  border-color: #3e53678a;
  box-shadow: 0 0 5px 0px #3e53678a;
}

.myCheckBox {
  transform: scale(1.2);
}

select.myInput {
  cursor: pointer;
}

.myInput {
  border: none;
  border: 1.5px solid #d8d6de;
  border-radius: 5px;
  padding: 5px 15px;
  outline: none;
  color: #5f5f5f !important;
}

.myInputl {
  border: none;
  border: 1.5px solid #d8d6de;
  border-radius: 5px;
  padding: 5px 15px;
  outline: none;
  color: #5f5f5f !important;
  height: 43px;
}

.myInputl:hover{
  border-color: #3e53678a;
  box-shadow: 0 0 5px 0px #3e53678a;
}
.myInputl:focus {
  /* border-bottom: 1.5px solid #000000; */
  box-shadow: 0 0 5px 0px #3e53678a;
}

.myImgContainer {
  height: 50px;
  width: 50px;
  background-color: #00000059;
  border-radius: 50%;
  overflow: hidden;
  color: white;
}

.datePicker input {
  border: none;
  border: 1.5px solid #0000006b;
  border-radius: 5px;
  padding: 5px 10px;
  outline: none;
  width: 100%;
}

.myH9 {
  font-size: 0.9rem;
}

.myH7 {
  font-size: 0.7rem;
}

.myTag {
  background-color: #edf1f4 !important;
  border-radius: 5px;
  padding: 3px 5px;
}

.myWhiteTextNoWrap {
  white-space: nowrap;
}



.myActionBtn:hover {
  background-color: white !important;
}

.myActionBtn {
  background-color: #d9e6fb;
  border: none;
  outline: none;
  padding: 5px 5px;
  border-radius: 10px;
}

.tableMenuHover .MuiDataGrid-row {
  position: relative;
  overflow: hidden;
}

.dotHover {

  width: 100%;
}

.tableMenuHover .MuiDataGrid-cell:hover .expandDiv {
  /* background-color: rgb(204, 203, 203); */
  height: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 50px;
  width: 50px;
  /* width: 300px; */
  position: absolute;
  animation: hoverRight .1s ease-out;

}

@keyframes hoverRight {
  0% {
    right: -100px;
    opacity: 0.3;
  }

  100% {
    right: 45px;
    opacity: 1;
  }
}

.expandDiv {
  display: none;
}




.myActionBtn svg {
  height: 18px;
  width: 18px;
}

.myUl {
  margin: 0;
  padding: 0;
  list-style: none;
}

.myCursonPointer {
  cursor: pointer;
}

.myEventStop {
  pointer-events: none;
}


/* swapSelection UI start */
.swapSelection main ul li:hover {
  background-color: #00ffff !important;
}

.swapSelection main ul li.checked {
  background-color: #00ffff !important;
  /* color: rgb(84, 94, 111); */
  /* outline: 1.5px solid #0000006b !important; */
}

.swapSelection main ul li {
  /* background-color: red; */
  cursor: pointer;
  list-style: none;
  padding: 5px 10px;
  border-radius: 5px;

  /* margin-bottom: 2px;
  margin-right: 5px; */
  margin: 10px;
  /* background-color: aliceblue; */
  font-size: 14px;
  background-color: #edf1f44d;
}

.swapSelection main {
  margin: 0;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1.5px solid #0000006b;
  height: 200px;
  width: 100%;
  /* min-width: 250px; */
}

.swapSelection main ul {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  overflow: auto;
  border-radius: 5px;
  height: 100%;
}

.swapSelection .allBtnsMain svg {
  height: 20px;
  width: 20px;
  color: #0000009c;
}

.swapSelection .arrowBtn {
  cursor: pointer;
  border: 1.5px solid #0000006b;
  border-radius: 5px;
  padding: 5px 10px;
}

.swapSelection .arrowBtn.disabledBtn {
  cursor: auto;
  pointer-events: none;
  border-color: #00000026;
}

.swapSelection .arrowBtn.disabledBtn svg {
  color: #00000026 !important;
}

/* swapSelection UI end */
.myTableSection {
  height: 250px;
  overflow: auto;
}

.myDTableCaption {
  display: table-caption;
}

.breadcrumbs {
  max-width: 1200px;
  margin: 10px auto;
}

.breadcrumbs>* {
  display: inline-block;
  margin-right: 0.8px;
}

.breadcrumbs .crumb::after {
  content: url('./assets//svg/chevron-right-new.svg');
  padding-left: 5px;
}

.breadcrumbs .crumb:last-child::after {
  display: none;
}

.breadcrumbs .crumb a {
  color: #282c34;
}

#breadcrumbs a {
  list-style: none;
  text-decoration: none;
  text-transform: capitalize;
  padding-left: 5px;
  font-size: 15px;
}

#breadcrumbs a:hover {
  color: #77aaf7;
}

.crumb-link {
  text-decoration: none;
  color: inherit;
  text-transform: capitalize;
}

.crumb-link:hover {
  color: #77aaf7;
  text-decoration: underline;
}

/********** ManeFacturer Btn*************/
.mfacturerActionBtn {
  background: #fff;
  border: none;
}

.mfacturerActionBtn:hover {
  background: #77aaf7;
  color: #fff;
}

.singleCompText {
  font-size: 10px;
  color: rgb(53, 172, 219);
  text-align: end;
  cursor: pointer;
}

.variant-label {
  font-size: 16px;
  margin-bottom: 5px;
}

.variant-control {
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
}

.headingStyles {
  font-size: 20px;
  font-weight: 'bolder';
  color: #00a2ff;
}

.dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  padding: 10px;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.left-container {
  margin-right: 20px;
}

.right-container {
  display: flex;
  align-items: center;
}

.middle-container {
  display: flex;
  align-items: center;
}

.headingStyles {
  margin: 0;
  font-size: 18px;
}

.search-item {
  margin-right: 10px;
  padding: 5px;
  border-radius: 4px;
  background-color: #E5F1F9;
  width: 400px;
}

.search-input {
  border: none;
  padding: 5px;
  border-radius: 4px;
  width: 355px
}

.enquiry-charts {
  background-color: #55a6d8;
  color: white;
}

.sales-charts {
  background-color: #d89f55;
  color: white;
}

.growth-item {
  position: relative;
  padding: 10px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}


.growth-vertical1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background-color: #D68910;
}

.growth-vertical2::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background-color: #2471A3;
}

.growth-vertical3::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background-color: #37af1e;
}

.growth-vertical4::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background-color: #2E86C1;
}

.growth-vertical5::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background-color: #0ACCEF;
}

.growth-vertical6::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background-color: #ffcc00;
}

.bi-search:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.bi-bell:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.bi-envelope:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.impressive-text {
  color: #D68910;
  font-weight: bold;
}

.strength-text {
  color: rgb(109, 108, 108);
  font-weight: bold;
}

.record-text {
  color: #2471A3;
  font-weight: bold;
}

.excellent-text {
  color: #37af1e;
  font-weight: bold;
}

.optimal-text {
  color: #2E86C1;
  font-weight: bold;
}

.branch-text-list {
  text-transform: capitalize;
}

.strong-text {
  color: #0ACCEF;
  font-weight: bold;
}

.available-text {
  color: #ffcc00;
  font-weight: bold;
}

.logoDiv {
  display: flex;
  flex-direction: row;
}

.agency-style {
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
  font-style: italic;
  margin-left: 10px;
  margin-top: 10px;
}

.spinner-white {
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.userd2 {
  margin: auto;
  padding: 20px;
  height: auto;
  border: 1px solid #ccc;
  border-Radius: 5px;
  box-Shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.salpid {
  display: flex;
  justify-content: flex-end;
  /* Align content to the end */
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}

.salpid1 {
  display: flex;
  justify-content: flex-start;
  /* Align content to the end */
  align-items: center;
  font-weight: bold;
  color: rgb(5, 4, 108);
  font-size: 20px;
}

.userd3 {
  margin: auto;
  padding: 20px;
  height: auto;
  border: 1px solid #ccc;
  border-Radius: 5px;
  box-Shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}